<div class="col-md-8 col-md-offset-1">
  <div class="panel panel-warning">
    <div class="panel-body">
      {{answer.content}} - {{answer.author}}
    </div>
  </div>
</div>

<button type="btn btn-default" {{action 'delete' answer}}>Delete Answer</button>
