<button type="btn btn-default" {{action 'delete' question}}>Delete Question</button>

<div class="panel panel-success">
  <div class="panel-heading">
    <strong>Addition Notes: </strong>
  </div>
  <div class="panel-body">
    {{question.notes}}
  </div>
</div>
<hr>

<h3>Answers / Suggestions:</h3>

<div class="container">
  <div class="row">
    {{#each question.answers as |answer|}}
      {{answer-tile answer=answer destoryAnswer="destoryAnswer"}}
    {{/each}}
  </div>
</div>
