.center {
  text-align: center;
}

.jumbotron {
  background-image: url('/assets/images/questionbanner.jpg');
}

.jumbotron h1 {
  color: darkred;
  font-family: monospace;
  font-weight: bold;
}

.nav-tabs img {
  padding: 3px;
}

.topbar {
  padding: 5px;
  border: solid gray;
  box-shadow: 2px 2px 4px gray;
  margin-bottom: 10px;
}
