
<div class="container">
  <h2 class="center">About Epic Student Answers</h2>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h4>We want to be able to have all the answers to your questions. Working together we can keep track of student questions and any answers that might come of them. The more questions that you ask the more answers future students will have. There is never a bad question. Ask away!</h4>
      </div>
    </div>
</div>
