<div class="container">
  <div class="jumbotron">
    <header>
      <h1>Answer your Questions</h1>
    </header>
  </div>
  {{outlet}}
  <hr>
  <footer>
    {{#link-to 'index'}}Home{{/link-to}}
    {{#link-to 'about'}}About us{{/link-to}}
  </footer>
</div>
