<h1>Welcome to Q&A</h1>

<p>this is the home page</p>

<ul>
  {{#each model as |question|}}
    {{question-tile question=question destroyQuestion="destroyQuestion"}}
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}

{{#link-to 'about'}}About{{/link-to}}
