<div class="container">
  <div class="row">
    <div class="col-md-2">
      <img src="/assets/images/questionguy.png" alt="guy with a question">
    </div>
    <div class="col-md-8">
      <h1 class="center">Welcome to Epic. Student Answers</h1>

      <p class="center">Feel free to ask any questions you might have while here at Epic. All quetions will be listed on the homepage and you can find the answers by clicking on the qustion. Enjoy and Keep learning!</p>
    </div>
    <div class="col-md-2">
      <img src="/assets/images/questionguy.png" alt="guy with a question">
    </div>
  </div>
</div>

<hr>

{{new-question saveQuestion="saveQuestion"}}

<h3>Questions: </h3>
<div class="container">
  <div class="row">
    <div class="col-md-7 col-md-offset-1">
      {{#each model.questions as |question|}}
        {{question-tile question=question}}
      {{/each}}
    </div>
  </div>
</div>
